.landing-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $secondary-color;
  flex-direction: column;
  color: white;
}
.landing-page{
  &__primary-heading,
  &__secondary-heading{
    position: relative;
    text-transform: uppercase;
    font-family: "Press Start 2P",cursive;
    font-size: 6rem;
    letter-spacing: 1rem;
    overflow: hidden;
    background: linear-gradient(90deg,$primary-color,#fff,$primary-color);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba($primary-color,0);
    margin-bottom: 4rem;
  }
  &__primary-heading{
    animation: shine 4s  cubic-bezier(0.645, 0.045, 0.355, 1)  infinite  forwards;
  }
  &__secondary-heading{
    animation: shine 4s  cubic-bezier(0.645, 0.045, 0.355, 1)  infinite reverse forwards;
  }
}
// animation: shine 3s  linear  infinite  forwards;