@import url("https://fonts.googleapis.com/css?family=Akronim|Bungee+Shade|Press+Start+2P");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes shine {
  0% {
    background-position: -500%; }
  100% {
    background-position: 500%; } }

@keyframes load {
  0% {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    transform: scale(1); }
  40% {
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: scale(1.4); }
  80%, 100% {
    text-shadow: 0 0 1rem rgab(0, 0, 0, 0);
    transform: scale(1); } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  border: solid 2px white;
  border-radius: 5rem;
  width: 20%;
  padding: 1rem;
  text-decoration: none;
  color: grey;
  font-size: 2rem;
  text-transform: uppercase;
  background: linear-gradient(105deg, #fff, #bbb);
  text-align: center;
  letter-spacing: .5rem;
  transition: all .2s ease-in;
  backface-visibility: hidden; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: scale(1.1);
    box-shadow: 0 0 3rem rgba(210, 210, 210, 0.4); }

.load-wrapper {
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.loader {
  position: relative;
  display: flex; }
  .loader span {
    color: blue;
    margin: 0 1.5rem;
    font-size: 10rem;
    font-weight: bold;
    animation: load  2.4s linear infinite;
    font-family: "Bungee Shade", cursive; }
    .loader span:nth-child(1) {
      animation-delay: 0; }
    .loader span:nth-child(2) {
      animation-delay: 0.2s; }
    .loader span:nth-child(3) {
      animation-delay: 0.4s; }
    .loader span:nth-child(4) {
      animation-delay: 0.6s; }
    .loader span:nth-child(5) {
      animation-delay: 0.8s; }
    .loader span:nth-child(6) {
      animation-delay: 1s; }
    .loader span:nth-child(7) {
      animation-delay: 1.2s; }
    .loader span:nth-child(8) {
      animation-delay: 1.4s; }
    .loader span:nth-child(9) {
      animation-delay: 1.6s; }
    .loader span:nth-child(10) {
      animation-delay: 1.8s; }

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  flex-direction: column;
  color: white; }

.landing-page__primary-heading, .landing-page__secondary-heading {
  position: relative;
  text-transform: uppercase;
  font-family: "Press Start 2P",cursive;
  font-size: 6rem;
  letter-spacing: 1rem;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-size: 80%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  margin-bottom: 4rem; }

.landing-page__primary-heading {
  animation: shine 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards; }

.landing-page__secondary-heading {
  animation: shine 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite reverse forwards; }
