.spinner-1:before{
  content:"";
  position: absolute;
  top:50%;
  left:40%;
  margin-right: 8rem;
  margin-top: -12rem;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  border-top: solid $primary-color 2px;
  border-right: solid 2px transparent;
  animation: spinner .7s linear infinite;
}
.spinner-2:before{
  content:"";
  position: absolute;
  top:50%;
  left:40%;
  margin-right: 8rem;
  margin-top: -12rem;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  border:2px solid transparent;
  border-top-color:$primary-color;
  border-bottom-color: $primary-color;
  animation: spinner .7s ease infinite;
}