.header{
  width:100%;
  height: 100vh;
  background: linear-gradient(-45deg,rgba($primary-color,.9),rgba($secondary-color,.9)),url("../imgs/pexels-photo-97077.jpeg") center /cover no-repeat;
  border: solid 5px $tertiary-color;
  border-radius: .1rem;
  box-shadow: inset 0 .2rem 2rem $tertiary-color, inset 0 .2rem 3rem $tertiary-color;
}
.programming{
  list-style: none;
  position: absolute;
  bottom: 4rem;
  right:4rem;
  display: flex;
  &__item{
   
  }
  .fab{
    margin: 0 3rem;
    font-size: 8rem;
    display: block;
    background: linear-gradient(120deg,$quarternary-color 45%,$tertiary-color);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    
  }
}