// colors 
$color-black:#282c37;

$primary-color:#011638;
$secondary-color:#2E294E;
$tertiary-color:#9055A2;
$quarternary-color:#D499B9;

//  grid
$grid-width:114rem;
$gutter-h:6rem;
$gutter-v:8rem;

// 16px font
$default-font-size:1.6rem;